{{#each list}}
<tr class="list-row">
    <td>{{id}}</td>
    <td>{{name}}</td>
    <td>{{code}}</td>
    <td>{{contact}}</td>
    <td>{{mobile}}</td>
    <td>{{vehicles}}</td>
    <td>{{address}}</td>
</tr>
{{/each}}