{{#each list}}
<tr class="list-row" data-id="{{id}}">
    <td>{{id}}</td>
    <td>{{driverName}}</td>
    <td>{{serviceCode}}</td>
    <td>{{idNo}}</td>
    <td>{{firstDate}}</td>
    <td>{{licenseDate}}</td>
    <td>{{invalidDate}}</td>
    <td>{{qualification}}</td>
    <td>{{state}}</td>
</tr>
{{/each}}