<table class="list-table">
  <thead>
    <tr>
      <th>序号</th>
      <th>姓名</th>
      <th>身份证</th>
      <th>性别</th>
      <th>手机号</th>
      <th>身份证地址</th>
      <th>暂住证地址</th>
    </tr>
  </thead>
  <tbody>
    {{#each list}}
    <tr class="list-row driver" data-id="{{tid}}">
      <td>{{id}}</td>
      <td>{{name}}</td>
      <td>{{idNo}}</td>
      <td>{{gender}}</td>
      <td>{{mobile}}</td>
      <td>{{cardAddr}}</td>
      <td>{{tempAddr}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>
