{{#each list}}
<tr class="list-row" data-id="{{id}}">
    <td>{{id}}</td>
    <td>{{carNo}}</td>
    <td>{{comName}}</td>
    <td></td>
    <td></td>
    <td>{{license}}</td>
    <td>{{start}}</td>
    <td>{{end}}</td>
    <td></td>
    <td><a href="###" class="list-link" data-vno="{{vno}}">驾驶员信息</a></td>
</tr>
{{/each}}