<div id="{{id}}" class="ui-select {{className}}">
    <input type="text" value="{{value}}" data-value="{{dataValue}}" readonly="readonly" class="ui-select-input" />
    <ul class="ui-select-list">
        {{#each options}}
        <li class="ui-select-list-item {{#if selected}}selected{{/if}}" data-value="{{value}}">{{text}}</li>
        {{/each}}
    </ul>
</div>