<li class="result-poi-item" data-id="{{id}}">
  <div class="result-pi-left">
    <div class="result-pi-address-wrap focus">
      <div class="result-pi-address" title="{{title}}" data-id="{{id}}">{{address}}</div>
    </div>
  </div>
  <div class="result-pi-right">
    <div class="result-pi-row">
      <div class="result-pi-col">
        <input class="result-pi-input result-pi-car" data-id="{{id}}" type="text" value="{{total}}" maxlength="5" readonly>
      </div>
      <div class="result-pi-col">
        <span class="result-pi-btn result-pi-export" data-id="{{id}}" title="导出"></span>
      </div>
      <div class="result-pi-col">
        <input class="result-pi-input result-pi-car alert" data-id="{{id}}" type="text" value="{{alertTotal}}" maxlength="5" readonly>
      </div>
      <div class="result-pi-col">
        <span class="result-pi-btn result-pi-export" data-id="{{id}}" title="导出"></span>
      </div>
      <div class="result-pi-col">{{time}}</div>
    </div>
    <div class="result-pi-row">
      <div class="result-pi-col">
        <span class="result-pi-text">半径(米)</span>
      </div>
      <div class="result-pi-col">
        {{#if radius}}
          <input class="result-pi-input result-pi-radius" type="text" value="{{radius}}">
        {{else}}
          <input class="result-pi-input result-pi-radius" disabled type="text" value="0">
        {{/if}}
      </div>
      <div class="result-pi-col">
        <span class="result-pi-text">时间(分)</span>
      </div>
      <div class="result-pi-col">
        <input class="result-pi-input result-pi-radius duration" type="text" value="{{duration}}">
      </div>
      <div class="result-pi-col">
        {{#if radius}}
        <span class="result-pi-btn result-pi-ok" data-id="{{id}}" title="确认"></span>
        {{/if}}
        <span class="result-pi-btn result-pi-del" data-id="{{id}}" title="删除"></span>
      </div>
    </div>
  </div>
</li>