<tr data-no="{{carNo}}">
    <td>浙BT{{carNo}}</td>
    <td>{{comp}}</td>
    <td>{{speed}}</td>
    <td>{{direction}}</td>
    <td>{{time}}</td>
    <td>{{stateDesc}}</td>
    <td data-no="{{carNo}}">
        <span class="monitor-btn message" title="发报文"></span>
       {{!--  <span class="monitor-btn listen" title="监听">
            <div class="mi-lp"><input class="mi-tel" type="text" placeholder="请输入回拨电话"></div>
        </span> --}}
        <span class="monitor-btn camera" title="拍照">
            <div class="mi-cp">
                <p>
                    <label><input class="mi-equip" type="radio" name="equip" checked>前排</label>
                    <label><input type="radio" name="equip">后排</label>
                </p>
                <p>
                    <label><input class="mi-resolution" type="radio" name="resolution" checked>普通</label>
                    <label><input type="radio" name="resolution">高清</label>
                </p>
            </div>
        </span>
        <span class="monitor-btn radio" title="听录音"></span>
        <span class="monitor-btn picture" title="看照片"></span>
        <span class="monitor-btn trace" title="查轨迹"></span>
        <span class="monitor-btn quit" title="退出监控"></span>
    </td>
</tr>