{{#each list}}
<li class="region-block-item" data-key="{{name}}">
    <div class="rb-row">
        <div class="rb-col rb-col-1-2 rb-title">{{name}}</div>
        <div class="rb-col rb-col-1-4 rb-number" data-key="{{name}}" data-count="0">0</div>
        <div class="rb-col rb-col-1-4 rb-op">
            <span class="rb-op-btn valid active"></span>
            <span class="rb-op-btn del" data-name="{{name}}"></span>
        </div>
    </div>
    <div class="rb-sub">
        <div class="rb-time">
            {{#each timeSection}}
            <span class="rb-t">{{this}}</span>
            {{/each}}
        </div>
        <div class="rb-row">
            <span class="rb-col rb-col-1-2 rb-car">{{unitName}}</span>
            <span class="rb-col rb-col-1-2 rb-type">{{triggerType}}</span>
        </div>
        {{#if offset}}
        <div class="rb-row">
            <span class="rb-col rb-col-1-3 rb-key">范围(米)</span>
            <span class="rb-col rb-col-2-3 rb-value">{{offset}}</span>
        </div>
        {{/if}}
    </div>
</li>
{{/each}}