<li class="black-result-item" data-id="{{id}}" data-location="{{location}}" data-radius="{{range}}">
  <div class="black-result-left">
    <input class="black-result-input address" type="text" value="{{name}}">
  </div>
  <div class="black-result-right">
    <div class="black-result-row">
      <div class="black-result-col">
        <span class="black-result-text">半径(米)</span>
      </div>
      <div class="black-result-col">
        <input class="black-result-input radius" type="text" value="{{range}}">
      </div>
    </div>
    <div class="black-result-row">
      <span class="black-result-btn poi active" data-id="{{id}}" title="定位"></span>
      <span class="black-result-btn ok" data-id="{{id}}" title="修改"></span>
      <span class="black-result-btn del" data-id="{{id}}" title="删除"></span>
    </div>
  </div>
</li>