{{#each list}}
<tr class="list-row" data-id="{{id}}" data-type="{{type}}">
    <td>{{id}}</td>
    <td>{{title}}</td>
    <td>{{typeLabel}}</td>
    <td>{{releaseLabel}}</td>
    <td>{{date}}</td>
    <td data-id="{{id}}">
        {{#if notMsg}}
        <button class="list-btn-delete" title="删除"></button>
        {{!-- <button class="list-btn-edit" title="编辑"></button> --}}
        <button class="list-btn-top {{#if notTop}}disable{{/if}}" title="置顶"></button>
        {{/if}}
    </td>
</tr>
{{/each}}