<div class="receive-wrap">
  <div class="receive-item">
    <p class="receive-title">
      <input type="checkbox" id="selectAll">
      <label for="selectAll">全选</label>
      收件人
    </p>
    <div class="receive-content">
      <ul id="detailList" class="receive-list">
        {{#each list}}
        <li>
          <input id="cb_{{id}}" type="checkbox" data-id="{{id}}" data-name="{{name}}" {{#if checked}}checked{{/if}}>
          <label for="cb_{{id}}" title="{{name}}">{{name}}</label>
        </li>
        {{/each}}
      </ul>
    </div>
  </div>
</div>
<div class="receive-btns">
  <button class="receive-btn-ok">确定</button>
  <button class="receive-btn-cancel">取消</button>
</div>