{{#each list}}
<tr class="listContent-left-row" data-tid="{{tid}}" data-resCount="{{resCount}}">
  <td>
  	<input class="del-input hide" type="checkbox" checked="checked" />{{jobType}}
  </td>
  <td>{{time}}</td>
  <td>{{rStatus}}</td>
  <td>{{resCount}}</td>
  <td>
  	<a href="###">刷新</a>
  	<a href="###">挂起</a>
  	<a href="###">删除</a>
  </td>
</tr>
{{/each}}