{{#each list}}
<div class="pubListPop" data-tid="{{tid}}">
  <dl>
    <dt><img src="http://img2.yongxt.com/img2/{{defaultImg}}" class="info-img"></dt>
    <dd class="driver-right">
      <div class="pubListPop-name">{{driverName}}<span>（{{jobType}}）</span></div>
      <div>
        <span class="info-explain" id="point"></span>
        <span class="info-explain">{{gender}}</span>
        <span class="info-explain">{{age}}岁</span>
        <span class="info-explain">驾照:{{driverType}}</span>
        <span class="info-explain">从业{{workYear}}年/18家</span>
        <br/>
        <span class="info-explain">状态：{{status}}</span>
        <span class="info-explain">到岗：随时</span>
      </div>
    </dd>
  </dl>
  
  <div class="pubListPop-item">
    <span class="info-subItem">{{carType}}</span>
    <span class="info-subItem">{{carYear}}年</span>
    <span class="info-subItem">{{powerType}}</span>
    <span class="info-subItem">{{address}}</span>
    <div class="info-address">{{address}}</div>
  </div>
  <div class="pubListPop-detail">
    <h3>详细描述</h3>
    <p>{{memo}}</p>
  </div>
  <div class="pubListPop-Btn">
    <button type="button" class="pop-btn invite-btn">邀&ensp;请</button>
    <button type="button" class="pop-btn cancel-btn">返&ensp;回</button>
  </div>
</div>
{{/each}}

