{{#each carList}}
<li class="message-car-item">
  <p class="message-sub-title" data-number="{{list.length}}">
    <span class="message-toggle" data-index="{{@index}}"></span>
    <label class="message-sub-comp"><input class="cb-comp" type="checkbox" data-index="{{@index}}">{{name}}</label>
  </p>
  <ul class="message-sub-list">
    {{#each list}}
    <li class="message-sub-item">
      <label><input class="cb-car" type="checkbox" data-no="{{this}}">浙BT{{this}}</label>
    </li>
    {{/each}}
  </ul>
</li>
{{/each}}